/* Styles go here */
.game-container {
    max-width: 400px;
}
  
.grid-row {
    text-align: center;
}
  
.grid-column {
    background: #acacac;
    display: inline-block;
    margin: 5px;
    height: 50px;
    width: 50px;
}
  
.grid-column.selected {
    background: green;
}